<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="wrapper">
    <div class="block header">
        <a class="header-subblock header-title" href="{{ path('index') }}">Библиотека</a>

        {% block header %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="header-subblock button" href="{{ path('addBookForm') }}">Добавить книгу</a>
                <!--<div class="header-subblock"><b style="padding-right: 5px;">Пользователь:</b>  {{ app.user.username }}</div>-->
                <a class="header-subblock button" href="{{ logout_path() }}">Выйти</a>
            {% else %}
                <a class="header-subblock button" href="{{ path('login') }}">Войти</a>
            {% endif %}
        {% endblock %}
    </div>

    <div class="block body">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>