<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}
            {% if title is defined %}
                {{ title }}
            {% else %}
                Welcome!
            {% endif %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="wrapper">
    <div class="block header">
        <a class="header-subblock header-title" href="{{ path('index') }}">Библиотека</a>

        {% block header %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="header-subblock button" href="{{ path('addBook') }}">Добавить книгу</a>
                <div class="header-subblock"><b style="padding-right: 5px;">Пользователь:</b>  {{ app.user.name }}</div>
                <a class="header-subblock button" href="{{ path('fos_user_security_logout') }}">Выйти</a>
            {% else %}
                <a class="header-subblock button" href="{{ path('fos_user_security_login') }}">Войти</a>
            {% endif %}
        {% endblock %}
    </div>

    {% for type, messages in app.flashes(['success', 'error']) %}
        {% for message in messages %}
            <div class="block block-alert block-alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {%  endfor %}


    <div class="block body">
        {% if subtitle is defined %}
            <div class="subtitle">
                {{ subtitle  }}
            </div>
        {% endif %}

        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>