{% extends 'library/base.html.twig' %}

{% block body %}
    <div class="book-list">
        {% for book in books %}
            <div class="book-list-row">
                <div class="book-list-row-cover">
                    {% if book.cover|length %}
                        {{ book.cover.path|resizeCover(100, 120)|raw }}
                    {% else %}
                        {{ default_cover|resizeImage(100, 120)|raw }}
                    {% endif %}
                </div>
                <div class="book-list-row-name">{{ book.NAME }}</div>
                <div class="book-list-row-author">Автор: <b>{{ book.AUTHOR }}</b></div>

                <div class="book-list-row-button_block">
                    {%  if book.allowDownloading and book.file|length %}
                        <div class="book-list-row-download"><a href="{{ file_path ~ book.file.path }}" download="true">Скачать</a></div>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="book-list-row-edit"><a href="{{ path('editBook', {"bookId": book.id}) }}">Редактировать</a></div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div style="text-align: center;">
            {{ knp_pagination_render(books) }}
        </div>
    </div>
{% endblock %}