{% extends 'library/base.html.twig' %}


{% block body %}
    {{ form_start(form) }}

    {{ form_label(form.name) }}
    <br>
    {{ form_widget(form.name) }}

    <br>
    <br>

    {{ form_label(form.author) }}
    <br>
    {{ form_widget(form.author) }}

    <br>
    <br>

    {{ form_widget(form.cover.id) }}

    {{ form_label(form.cover.file) }}
    <br>
    {{ form_widget(form.cover.file) }}
    <br>

    {% if form.cover.path.vars.value %}
        <div class="book-upload-preview-image">
            <img src="{{cover_path ~ form.cover.path.vars.value }}">
        </div>
    {% endif %}

    <br>
    <br>

    {{ form_widget(form.cover.id) }}

    {{ form_label(form.file.file) }}
    <br>
    {{ form_widget(form.file.file) }}
    <br>

    <br>
    <br>

    {{ form_label(form.dateOfReading) }}
    <br>
    {{ form_widget(form.dateOfReading) }}

    <br>

    {{ form_label(form.allowDownloading) }}
    {{ form_widget(form.allowDownloading) }}

    <br>
    <br>

    {{ form_row(form.submit, {'label': 'Добавить'}) }}

    <br>
    <br>

    {{ form_end(form) }}
{% endblock %}