{% extends 'library/base.html.twig' %}


{% block body %}
    {{ form_start(form) }}

    {{ form_label(form.name) }}
    <br>
    {{ form_widget(form.name) }}

    <br>
    <br>

    {{ form_label(form.author) }}
    <br>
    {{ form_widget(form.author) }}

    <br>
    <br>

    {{ form_label(form.upload_cover) }}
    <br>
    {{ form_widget(form.upload_cover) }}
    {{ form_errors(form.upload_cover) }}

    {% if form.cover is defined %}
        {% if form.cover.path.vars.value %}
            <div class="book-upload-preview-image">
                <img src="{{cover_path ~ form.cover.path.vars.value }}">
            </div>
        {% endif %}
    {% endif %}

    <br>
    <br>

    {{ form_label(form.upload_file) }}
    <br>
    {{ form_widget(form.upload_file) }}
    {{ form_errors(form.upload_file) }}

    {% if form.file is defined %}
        {#
        {% if form.file.path.vars.value %}
            <div class="book-upload-preview-file">
                <img src="{{file_path ~ form.file.path.vars.value }}">
            </div>
        {% endif %}
        #}
    {% endif %}
    <br>
    <br>

    {{ form_label(form.dateOfReading) }}
    <br>
    {{ form_widget(form.dateOfReading) }}

    <br>

    {{ form_label(form.allowDownloading) }}
    {{ form_widget(form.allowDownloading) }}

    <br>
    <br>

    {{ form_row(form.submit, {'label': 'Добавить'}) }}

    <br>
    <br>

    {{ form_end(form) }}
{% endblock %}