{% extends 'library/base.html.twig' %}


{% block body %}
    {{ form_start(form) }}

    {{ form_label(form.name) }}
    <br>
    {{ form_widget(form.name) }}

    <br>
    <br>

    {{ form_label(form.author) }}
    <br>
    {{ form_widget(form.author) }}

    <br>
    <br>

    {{ form_label(form.upload_cover) }}
    <br>
    {{ form_widget(form.upload_cover) }}
    {{ form_errors(form.upload_cover) }}

    {% if book.cover|length %}
        {% if book.cover.path|length %}
            {{ book.cover.path|resizeCover(70, 70)|raw }}
            {{ form_label(form.delete_cover) }}
            {{ form_widget(form.delete_cover) }}
        {% endif %}
    {% endif %}

    <br>
    <br>

    {{ form_label(form.upload_file) }}
    <br>
    {{ form_widget(form.upload_file) }}
    {{ form_errors(form.upload_file) }}

    {% if book.file|length %}
        {% if book.file.actualName|length %}
            <br>
            <div class="book-upload-preview-file">
                {{ book.file.actualName }}
            </div>
            <br>
            {{ form_label(form.delete_file) }}
            {{ form_widget(form.delete_file) }}
        {% endif %}
    {% endif %}
    <br>
    <br>

    {{ form_label(form.dateOfReading) }}
    <br>
    {{ form_widget(form.dateOfReading) }}

    <br>

    {{ form_label(form.allowDownloading) }}
    {{ form_widget(form.allowDownloading) }}

    <br>
    <br>

    {{ form_row(form.submit, {'label': 'Изменить'}) }}

    <br>
    <br>

    {{ form_end(form) }}


    <a href="{{ path('deleteBook', {'bookId': book.id}) }}">Удалить книгу</a>
{% endblock %}